In [ ]:
# 1. Import Library
import pandas as pd
import re
import numpy as np

In [ ]:
# 2. Menghubungkan Google Colab dengan Google Drive
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# 3. Coba deteksi otomatis delimiter
file_path = '/content/drive/MyDrive/DataMining/Data_EDA/Dataset_kotor/messy_data_school.csv'

# Buka beberapa baris pertama biar kita tahu delimternya apa
with open(file_path, 'r', encoding='utf-8') as f:
    for i in range(5):
        print(f.readline())

province_id,province_name,city_id,city_name,district_id,district,npsn,school_name,stage,status,street_name,lat,long

250000,Papua,251800,Kab. Tolikara,251831,Kec. Gilungbandu,60303704,SMP SATAP KAGI,SMP,N,Gilubandu,-3.4159950,138.3397040

250000,Papua,251800,Kab. Tolikara,251822,Kec. Wunin,60302267,SD YPPGI WURINERI,SD,S,Wunin,-3.4790000,138.6800000

250000,Papua,251800,Kab. Tolikara,251803,Kec. Bokondini,60302279,SMAN BOKONDINI,SMA,N,MAIRINI,-3.5317307,138.6582341

250000,Papua,251800,Kab. Tolikara,251814,Kec. Kuari,60302215,SD INPRES KUARI,SD,N,Kuari,-3.5181000,138.5295000

In [ ]:
# =====================================================
# 4. Menampilkan Struktur Data
# =====================================================
file_path = '/content/drive/MyDrive/DataMining/Data_EDA/Dataset_kotor/messy_data_school.csv'
df = pd.read_csv(file_path)

print("\nüìä Informasi Dataset:")
print(df.info())

print("\nüß© Tipe Data Tiap Kolom:")
print(df.dtypes)

print("\nü™Ñ 5 Data Teratas:")
print(df.head())

/tmp/ipython-input-2557406118.py:5: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(file_path)

üìä Informasi Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215372 entries, 0 to 215371
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   province_id    215372 non-null  int64
 1   province_name  215372 non-null  object
 2   city_id        215372 non-null  int64
 3   city_name      215372 non-null  object
 4   district_id    215372 non-null  int64
 5   district       215372 non-null  object
 6   npsn           215372 non-null  object
 7   school_name    215372 non-null  object
 8   stage          215372 non-null  object
 9   status         215372 non-null  object
 10  street_name    215370 non-null  object
 11  lat            214222 non-null  float64
 12  long           214222 non-null  float64
dtypes: float64(2), int64(3), object(8)
memory usage: 21.4+ MB
None

üß© Tipe Data Tiap Kolom:
province_id        int64
province_name     object
city_id            int64
city_name         object
district_id        int64
district          object
npsn              object
school_name       object
stage             object
status            object
street_name       object
lat              float64
long             float64
dtype: object

ü™Ñ 5 Data Teratas:
   province_id province_name  city_id      city_name  district_id  \
0       250000         Papua   251800  Kab. Tolikara       251831
1       250000         Papua   251800  Kab. Tolikara       251822
2       250000         Papua   251800  Kab. Tolikara       251803
3       250000         Papua   251800  Kab. Tolikara       251814
4       250000         Papua   251800  Kab. Tolikara       251802

           district      npsn          school_name stage status street_name  \
0  Kec. Gilungbandu  60303704       SMP SATAP KAGI   SMP      N   Gilubandu
1        Kec. Wunin  60302267    SD YPPGI WURINERI    SD      S       Wunin
2    Kec. Bokondini  60302279       SMAN BOKONDINI   SMA      N     MAIRINI
3        Kec. Kuari  60302215      SD INPRES KUARI    SD      N       Kuari
4     Kec. Karubaga  60302283  SMAS YPPGI KARUBAGA   SMA      S      AMPERA

        lat        long
0 -3.415995  138.339704
1 -3.479000  138.680000
2 -3.531731  138.658234
3 -3.518100  138.529500
4 -3.449100  138.598800

In [ ]:
# =====================================================
# 5. Data Cleansing - Standarisasi Nama Kolom
# =====================================================
df.columns = (
    df.columns
    .str.strip()
    .str.title()
    .str.replace(' ', '_')
    .str.replace('-', '_')
)

print("\n‚úÖ Nama Kolom Setelah Standarisasi:")
print(df.columns)

‚úÖ Nama Kolom Setelah Standarisasi:
Index(['Province_Id', 'Province_Name', 'City_Id', 'City_Name', 'District_Id',
       'District', 'Npsn', 'School_Name', 'Stage', 'Status', 'Street_Name',
       'Lat', 'Long'],
      dtype='object')

In [ ]:
# =====================================================
# 6. Cleansing Kolom Provinsi
# =====================================================
# Cek apakah kolom Provinsi ada
print("\nCek apakah kolom 'Provinsi' tersedia:")
print('Provinsi' in df.columns)

if 'Provinsi' in df.columns:
    df['Provinsi'] = df['Provinsi'].astype(str).str.strip().str.title()
    df['Provinsi'] = df['Provinsi'].replace({
        'Dki_Jakarta': 'DKI Jakarta',
        'Dki': 'DKI Jakarta',
        'Jawa_Timur': 'Jawa Timur',
        'Jawa_Barat': 'Jawa Barat'
    })
    print("\n‚úÖ Contoh hasil kolom Provinsi:")
    print(df['Provinsi'].unique()[:20])
else:
    print("‚ö†Ô∏è Kolom 'Provinsi' tidak ditemukan di dataset!")

Cek apakah kolom 'Provinsi' tersedia:
False
‚ö†Ô∏è Kolom 'Provinsi' tidak ditemukan di dataset!

In [ ]:
# =====================================================
# 7. Cleansing Kolom Jenjang / Tingkatan Sekolah
# =====================================================
if 'Jenjang' in df.columns:
    df['Jenjang'] = df['Jenjang'].astype(str).str.strip().str.upper()
    df['Jenjang'] = df['Jenjang'].replace({
        'SDN': 'SD',
        'SMKN': 'SMK',
        'SMAN': 'SMA'
    })
    print("\n‚úÖ Nilai unik kolom Jenjang setelah dibersihkan:")
    print(df['Jenjang'].unique()[:20])
else:
    print("‚ö†Ô∏è Kolom 'Jenjang' tidak ditemukan di dataset!")

‚ö†Ô∏è Kolom 'Jenjang' tidak ditemukan di dataset!

In [ ]:
# =====================================================
# 8. Cleansing Kolom Jumlah Sekolah
# =====================================================
if 'Jumlah_Sekolah' in df.columns:
    df['Jumlah_Sekolah'] = (
        df['Jumlah_Sekolah']
        .astype(str)
        .str.replace(',', '')
        .str.replace('.', '')
    )
    df['Jumlah_Sekolah'] = pd.to_numeric(df['Jumlah_Sekolah'], errors='coerce')
    print("\n‚úÖ Kolom Jumlah_Sekolah setelah dibersihkan:")
    print(df['Jumlah_Sekolah'].head(10))
else:
    print("‚ö†Ô∏è Kolom 'Jumlah_Sekolah' tidak ditemukan di dataset!")

‚ö†Ô∏è Kolom 'Jumlah_Sekolah' tidak ditemukan di dataset!

In [ ]:
# =====================================================
# 9. Menghapus Duplikasi Data
# =====================================================
duplicate_rows = df[df.duplicated(keep=False)]
print("\nJumlah data duplikat:", len(duplicate_rows))

df_cleaned = df.drop_duplicates(keep='first')
print("Jumlah data setelah menghapus duplikasi:", len(df_cleaned))

Jumlah data duplikat: 0
Jumlah data setelah menghapus duplikasi: 215372

In [ ]:
# =====================================================
# 10. Menangani Missing Value
# =====================================================
if 'Jumlah_Sekolah' in df_cleaned.columns:
    df_cleaned['Jumlah_Sekolah'].fillna(df_cleaned['Jumlah_Sekolah'].mean(), inplace=True)
    print("\n‚úÖ Missing value pada kolom Jumlah_Sekolah sudah diganti dengan nilai rata-rata.")

In [ ]:
# =====================================================
# 11. Menyimpan Data Bersih
# =====================================================
output_path = '/content/drive/MyDrive/DataMining/Data_EDA/Dataset_bersih/cleaned_data_school_Idn.csv'
df_cleaned.to_csv(output_path, index=False)
print(f"\n‚úÖ File berhasil disimpan di: {output_path}")

‚úÖ File berhasil disimpan di: /content/drive/MyDrive/DataMining/Data_EDA/Dataset_bersih/cleaned_data_school_Idn.csv

In [ ]:
# =====================================================
# 12. Preview Data Bersih
# =====================================================
print("\n=== Data Setelah Cleansing ===")
print(df_cleaned.head(15))

=== Data Setelah Cleansing ===
    Province_Id Province_Name  City_Id        City_Name  District_Id  \
0        250000         Papua   251800    Kab. Tolikara       251831
1        250000         Papua   251800    Kab. Tolikara       251822
2        250000         Papua   251800    Kab. Tolikara       251803
3        250000         Papua   251800    Kab. Tolikara       251814
4        250000         Papua   251800    Kab. Tolikara       251802
5        250000         Papua   251800    Kab. Tolikara       251822
6        250000         Papua   251800    Kab. Tolikara       251823
7        250000         Papua   253000  Kab. Lanny Jaya       253007
8        250000         Papua   253000  Kab. Lanny Jaya       253002
9        250000         Papua   253000  Kab. Lanny Jaya       253007
10       250000         Papua   253000  Kab. Lanny Jaya       253003
11       250000         Papua   253000  Kab. Lanny Jaya       253008
12       250000         Papua   253000  Kab. Lanny Jaya       253004
13       250000         Papua   253000  Kab. Lanny Jaya       253009
14       250000         Papua   253000  Kab. Lanny Jaya       253009

            District      Npsn             School_Name Stage Status  \
0   Kec. Gilungbandu  60303704          SMP SATAP KAGI   SMP      N
1         Kec. Wunin  60302267       SD YPPGI WURINERI    SD      S
2     Kec. Bokondini  60302279          SMAN BOKONDINI   SMA      N
3         Kec. Kuari  60302215         SD INPRES KUARI    SD      N
4      Kec. Karubaga  60302283     SMAS YPPGI KARUBAGA   SMA      S
5         Kec. Wunin  60302256        SD NEGERI POKEGI    SD      N
6          Kec. Wina  60302238       SD INPRES YOGWEME    SD      N
7      Kec. Tiomneri  69938686      SD Negeri Kuwopaga    SD      N
8        Kec. Pirime  60303495  SMP YPPGI WIRINGGAMBUT   SMP      S
9      Kec. Tiomneri  60301433    SD INPRES MILINGGAME    SD      N
10         Kec. Tiom  60301498        SD NEGERI LONGGI    SD      N
11        Kec. Dimba  60303550      SMP NEGERI 1 DIMBA   SMP      N
12     Kec. Balingga  69938692        SD Negeri Popome    SD      N
13      Kec. Gamelia  60303533         SD YPPGI YUNERI    SD      S
14      Kec. Gamelia  60301448        SD INPRES PAPANI    SD      N

                 Street_Name       Lat        Long
0                  Gilubandu -3.415995  138.339704
1                      Wunin -3.479000  138.680000
2                    MAIRINI -3.531731  138.658234
3                      Kuari -3.518100  138.529500
4                     AMPERA -3.449100  138.598800
5                     Pokegi -3.491118  138.660471
6                    Yogweme -3.421347  138.222339
7   Jl.Raya Tiom-Puncak Jaya -3.859362  138.225961
8                       Golo -3.931900  138.447800
9                 Milinggame -3.885500  138.405700
10                 Air Garam -3.922900  138.367200
11                     Dimba -3.858500  138.531900
12     Jl.Raya Tiom-Balingga -4.082925  138.247387
13                    Talemo -3.941100  138.624000
14                     Odika -3.871200  138.585800