In [ ]:
# =====================================================
# 1. Import Library
# =====================================================
import pandas as pd
import numpy as np
import re

In [ ]:
# =====================================================
# 2. Menghubungkan Google Colab dengan Google Drive
# =====================================================
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# =====================================================
# 3. Membaca Dataset Kotor
# =====================================================
file_path = '/content/drive/MyDrive/DataMining/Data_EDA/Dataset_kotor/messy_data_Indonesian Salary.csv'

# Gunakan delimiter otomatis, beberapa dataset pakai koma atau titik koma
df = pd.read_csv(file_path, delimiter=None, engine='python')

print("\nData Awal (5 baris pertama):")
print(df.head())

Data Awal (5 baris pertama):
           REGION    SALARY  YEAR
0            ACEH  128000.0  1997
1  SUMATERA UTARA  151000.0  1997
2  SUMATERA BARAT  119000.0  1997
3            RIAU  151500.0  1997
4           JAMBI  119500.0  1997

In [ ]:
# =====================================================
# 4. Menampilkan Struktur Data
# =====================================================
print("\nInformasi Dataset:")
print(df.info())

print("\nTipe Data:")
print(df.dtypes)

Informasi Dataset:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 983 entries, 0 to 982
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   REGION  983 non-null    object
 1   SALARY  983 non-null    float64
 2   YEAR    983 non-null    int64
dtypes: float64(1), int64(1), object(1)
memory usage: 23.2+ KB
None

Tipe Data:
REGION     object
SALARY    float64
YEAR        int64
dtype: object

In [ ]:
# =====================================================
# 5. Data Cleansing - Standarisasi Nama Kolom
# =====================================================
df.columns = df.columns.str.strip().str.title().str.replace(' ', '_')
print("\nNama Kolom Setelah Standarisasi:")
print(df.columns)

Nama Kolom Setelah Standarisasi:
Index(['Region', 'Salary', 'Year'], dtype='object')

In [ ]:
# =====================================================
# 6. Cleansing Kolom Posisi / Jabatan
# =====================================================
if 'Job_Title' in df.columns:
    df['Job_Title'] = df['Job_Title'].astype(str).str.strip().str.title()
    df['Job_Title'] = df['Job_Title'].replace({'Data_Scientist': 'Data Scientist',
                                               'Software_Engineer': 'Software Engineer'})

In [ ]:
# =====================================================
# 7. Cleansing Kolom Lokasi
# =====================================================
if 'Location' in df.columns:
    df['Location'] = df['Location'].astype(str).str.strip().str.title()
    df['Location'] = df['Location'].replace({'Jakarta_Selatan': 'Jakarta Selatan',
                                             'Jakarta_Barat': 'Jakarta Barat'})

In [ ]:
# =====================================================
# 8. Cleansing Kolom Gaji (Salary)
# =====================================================
if 'Salary' in df.columns:
    # Hapus simbol mata uang, koma, titik, dan ubah ke numeric
    df['Salary'] = df['Salary'].astype(str)
    df['Salary'] = df['Salary'].str.replace(r'[^0-9]', '', regex=True)
    df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')

In [ ]:
# =====================================================
# 9. Cleansing Kolom Pengalaman (Experience)
# =====================================================
if 'Experience' in df.columns:
    df['Experience'] = df['Experience'].astype(str).str.lower().str.replace('years', '').str.strip()
    df['Experience'] = pd.to_numeric(df['Experience'], errors='coerce')

In [ ]:
# =====================================================
# 10. Menghapus Duplikasi Data
# =====================================================
duplicate_rows = df[df.duplicated(keep=False)]
print("\nJumlah data duplikat:", len(duplicate_rows))

df_cleaned = df.drop_duplicates(keep='first')
print("Jumlah data setelah menghapus duplikasi:", len(df_cleaned))

Jumlah data duplikat: 0
Jumlah data setelah menghapus duplikasi: 983

In [ ]:
# =====================================================
# 11. Menangani Missing Value
# =====================================================
# Ganti NaN pada kolom Salary dengan median (karena data gaji biasanya tidak normal)
if 'Salary' in df_cleaned.columns:
    df_cleaned['Salary'].fillna(df_cleaned['Salary'].median(), inplace=True)

# Ganti NaN pada kolom Experience dengan rata-rata
if 'Experience' in df_cleaned.columns:
    df_cleaned['Experience'].fillna(df_cleaned['Experience'].mean(), inplace=True)

/tmp/ipython-input-657731138.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_cleaned['Salary'].fillna(df_cleaned['Salary'].median(), inplace=True)

In [ ]:
# =====================================================
# 12. Menyimpan Data Bersih
# =====================================================
output_path = '/content/drive/MyDrive/DataMining/Data_EDA/Dataset_bersih/cleaned_data_Indonesian_Salary.csv'
df_cleaned.to_csv(output_path, index=False)
print(f"\n✅ File berhasil disimpan di: {output_path}")

✅ File berhasil disimpan di: /content/drive/MyDrive/DataMining/Data_EDA/Dataset_bersih/cleaned_data_Indonesian_Salary.csv

In [ ]:
# =====================================================
# 13. Cek Hasil Akhir
# =====================================================
print("\nData Setelah Cleansing:")
print(df_cleaned.head(15))

Data Setelah Cleansing:
              Region   Salary  Year
0               ACEH  1280000  1997
1     SUMATERA UTARA  1510000  1997
2     SUMATERA BARAT  1190000  1997
3               RIAU  1515000  1997
4              JAMBI  1195000  1997
5   SUMATERA SELATAN  1275000  1997
6           BENGKULU  1275000  1997
7            LAMPUNG  1260000  1997
8          KEP. RIAU  2350000  1997
9        DKI JAKARTA  1725000  1997
10        JAWA BARAT  1725000  1997
11       JAWA TENGAH  1130000  1997
12     DI YOGYAKARTA  1065000  1997
13        JAWA TIMUR  1325000  1997
14              BALI  1415000  1997